
// Dashboard content container
.dashboard-content {
  display: flex;
}

// DASHBOARD LEFT
.dashboard-content-left{
}

  // Menu Title and buttons
  .title-and-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    h1{

    }
  }



  // Menu Navigation
  .categories-nav{
    a{
      background-color: $green;
      color: white;
      padding: 13px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      opacity: .7;
      &:hover{
        opacity: 1;
      }
    }
  }

  // Dishes Area
  .dishes-area{

  }

  .menu-category{

  }

  .category-title{
    list-style-type: circle;
  }


// DASHBOARD RIGHT
.dashboard-content-right{

}
.btn-group{
  width: 100%;
}

.menu-button{
  width: 50%;
}

.dropdown-toggle{
  width: 50%;
}

